{% extends layout  %}

{% block title %}List Clients{% endblock %}

{% block content %}

    <h1>List of API Clients</h1>

    {% if paginator.totalItems == 1 %}
        <strong>1</strong> user found.
    {% else %}
        <strong>{{ paginator.totalItems }}</strong> users found.
    {% endif %}

    Showing <strong>{{ paginator.currentPageFirstItem }} - {{ paginator.currentPageLastItem }}</strong>.

    {% for client in clients %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            (ClientId) <a href="{{ path('clients.view', {'id': client.id}) }}">{{ client.ClientID }}</a>
            <div class="pull-right">
                <a href="{{ path('clients.edit', {'id': client.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                <span class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
          <div class="panel-body" style="background-color:white; color:black;">
            <dl class="dl-horizontal">
                <dt>Secret</dt><dd>{{ client.ClientSecret }}</dd>
                <dt>Redirect URI</dt><dd>{{ client.RedirectUri }}</dd>
            </dl>
          </div>
        </div>
    {% endfor %}

    {{ paginator|raw }}

{% endblock %}
